<!DOCTYPE>
<html>
<head>
  <title>Wichit Boards</title>
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/modules/toolbar/tools.css">
  <link rel="stylesheet" href="styles/modules/category/category.css">
  <link rel="stylesheet" href="styles/modules/meal/meal.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!--
  <script src="npm-modules/backbone/backbone.js"></script>
  <script src="npm-modules/backbone.localstorage/backbone.localStorage.js"></script>
-->
  <script src="js/main.js"></script>
</head>
<body>
  <div id="app" class="app-container">
    <div class="category">
      <header class="category-header">
      </header>
      <ul class="category-meals">
        <!-- MEAL LIST GOES HERE-->
      </ul>
      <div class="category-box food-warning"></div>
    </div>
  </div>
  <script id="category-header-template" type="text/template">

          <div class="category-header-view">
            <h2 class="category-title">{{category.title}}</h2>
            <% if(category.subtitle !== undefined ){ %>
              <h3 class="category-title category-subtitle">{{category.subtitle}}</h3>
            <% } %>
            <% if( category.description !== undefined){ %>
              <p class="category-description">{{category.description}}</p>
            <% } %>
          </div>
          <div class="edit-box">
              <input type="text" class="category-title category-edit-title" value="{{ category.title }}">
              <input type="text" class="category-title category-subtitle category-edit-subtitle" value="{{ category.subtitle }}">
              <textarea cols="30" rows="row" class="category-description category-edit-description">{{ category.description}}</textarea>
          </div>

  </script>
  <script id="category-note-template" type="text/template">
    <% if(category.note){ %>
        <h3>{{category.note.title}}</h3>
        <p>{{category.note.description}}</p>
    <% } %>
  </script>
  <script id="category-warning-template" type="text/template">
    <% if(category.warning){ %>
        <p>{{category.warning}}</p>
    <% } %>
  </script>
  <script id="meal-template" type="text/template">

      <div class="meal-content cf">
        <h3 class="meal-title {{ meal.special? 'meal-is-special' : '' }} {{ meal.separator? 'meal-is-separator' : ''}}">{{ meal.title }}</h3>
        <% if( meal.description ){ %>
          <p class="meal-description">{{ meal.description }}</p>
        <% } %>
      </div>
      <div class="edit-box">
        <input type="text" class="meal-title meal-edit-title" value="{{ meal.title }}">
        <textarea rows="4" class="meal-description meal-edit-description">{{ meal.description }}</textarea>
      </div>
      <% if( meal.options ){ %>
        <ul class="meal-options"></ul>
      <% } %>

  </script>
  <script id="meal-option-template" type="text/template">
    <li>
      <h4 class='meal-option-title'>{{ option.title }}</h4>
      <p class="meal-option-description">{{ option.description }}</p>
    </li>
  </script>
  <nav class="toolbar">

    <div class="toolbar-nav">
      <a data-direction="back" class="btn">Back</a>
      <a data-direction="next" class="btn">Next</a>
    </div>

    <div class="toolbar-save">
        <a target="_blank" data-role="save" class="btn">Save</a>
    </div>

    <div class="toolbar-configure">
      <div class="configure-font hidden">
        <a data-role="enlarge" data-increase="true" class="btn">A</a>
        <a data-role="enlarge" data-increase="false" class="btn">A</a>
      </div>

      <div class="configure-content">
        <a data-role="add" class="btn">Add Meal</a>
      </div>

    </div>

  </nav>
</body>
</html>
