.category{
  color: #fff;
  padding: 0.8em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: -1px;
}

.category-header{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.category-title{
  font-size: 2.0em;
  font-family: Impact, sans-serif;
  color: #fff;
}
.category-subtitle{
  font-size: 1.2em;
}
.category-description{
  color: #ffffcc;
  letter-spacing: -1px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 95%;
  line-height: 1.2em;
  text-transform: inherit;
}

.category-box{
  border-top: 3px solid #ffffcc;
  padding: 0.6em 0em;
  color: #ffffcc;
}

.category-note{
  padding: 10px 0px;
}
.category-note:empty{
  display: none;
}

.category-note > h3{
  display: inline-block;
  font-size: 1.5em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #d62222;
}
.category-note > h3:after{
  content: ": ";
  padding-left: 3px;
}

.food-warning:empty{
  display: none;
}

.food-warning > p{
  display: inline;
  font-size: 0.7em;
}

/* MODULE STATES */

.is-category-header-editing > .category-header-view{
  display: none;
}
.is-category-header-editing > .edit-box{
  display: block;
}
