.toolbar{
  font-size: 16px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #000;
}

.toolbar-nav{
  display: inline-block;
  margin: 0 auto;
}

.toolbar-configure{
  display: inline-block;
  margin: 0 auto;
}

.toolbar-save{
  display: inline-block;
  margin: 0 auto;
}
