/* BASE STYLES */

html, body{
  margin: 0;
  padding: 0;
  font-size: 28px;
}

*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p, textarea{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea{
  width: 100%;
  max-width: 100%;
}

/* LAYOUT STYLES */

.container{
  max-width: 960px;
  margin: 0 auto;
}

.container-fluid{
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Application Module */

.app-container{
  height: 2475px;
  background-color: #000;
  overflow: hidden;
}

/* Base wide States */

.hidden{
  display: none !important;
}

/* Base wide modules */

.edit{
  display: none;
}
.edit-box{
  display: none;
}
.edit-box > input, .edit-box > textarea{
  display: block;
  background-color: transparent;
  margin: 0.2em 0;
  padding: 0;
  clear: both;
}

.btn{
  font-size: 1.0em;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0.1em 2em;
  border: 1px solid #000;
  border-radius: .2em;
}

/* HACKS */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* PRINT QUERY */
@media print {
  body{
    font-size: 28px;
  }
  .toolbar{
    display: none !important;
  }
}
